@import '~/node_modules/bootstrap/scss/bootstrap.scss';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  header{
      height: 600px;
      background-image: url("@/assets/img/hero-header-bakery.jpg");
      background-size: contain;
      position: relative;

      .site-header{
        padding: 1rem 1.6rem;
      }

      img{
          height: 60px;
      }

      a{
          list-style: none;
          text-decoration: none;
          text-transform: uppercase;  
          font-size: 13px;
          color: #5b2ca2;
          padding: 12px;
          font-weight: 600;
          &:hover {
              color: #5b2ca2;
            border-bottom: 2px solid #5b2ca2;
          }
      }

      .row{
          .col-4{
              margin-top: 6rem;

              .btn-sefid{
                background-color: white;
                color: #5b2ca2;
                padding: 8px 26px;
                border-radius: 8px;
                border: none;
                font-size: 13px;
                font-weight: 500;
                &:hover{
                    color: white;
                    background-color: #5b2ca2;
                }
            }
      
            .freshtext{
                color: #878589;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
            }
      
            h1{
                color: #5b2ca2;
                margin-bottom: 16px;
            }
      
            .caption{
              color: #878589; 
              margin-top: 16px;
            }
          }
      }

      .icon-hero{
          position: absolute;
          right: 20px;
          top: 150px;
          text-align: center;

          .option-hero{
              background-color: white;
              padding: 10px;
              border-radius: 8px; 
              position: relative;
              margin-bottom: 10px;
          }
          .dollar{
            position: absolute;
            top: 16px;
            left: 6px;
            font-size: 16px;
          }
      }

      .color-green{
          color: #287a00;
      }

      .fs-11{
          font-size: 11px;
          font-weight: 600;         
      }

      .fa{
          font-size: 20px;
          color: #555052;
      }
      
  }